 <div >
    <div class="oj-flex demo-panelwrapper">

      <div class="oj-flex-item oj-flex oj-sm-flex-items-1 oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2">
        <div class="oj-flex-item oj-panel demo-mypanel">
         <div data-bind="ojModule: {name: 'piechart'}"></div>
        </div>
      </div>


      
      <div class="oj-flex-item oj-flex oj-sm-flex-items-1 oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2">
        <div class="oj-flex-item oj-panel demo-mypanel">
         <div data-bind="ojModule: {name: 'eventgenerator'}"></div>
       
       </div>
      </div>


      <div class="oj-flex-item oj-flex oj-sm-flex-items-1 oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2">
        <div class="oj-flex-item oj-panel demo-mypanel">
            <div data-bind="ojModule: {name: 'eventlistener'}"></div>
        </div>
      </div>

      <div class="oj-flex-item oj-flex oj-sm-flex-items-1 oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2">
        <div class="oj-flex-item oj-panel demo-mypanel">
         
        </div>
      </div>


      <div class="oj-flex-item oj-flex oj-sm-flex-items-1 oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2">
        <div class="oj-flex-item oj-panel demo-mypanel">
        
        </div>
      </div>


      <div class="oj-flex-item oj-flex oj-sm-flex-items-1 oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2">
        <div class="oj-flex-item oj-panel demo-mypanel">
         
        </div>
      </div>


      <div class="oj-flex-item oj-flex oj-sm-flex-items-1 oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2">
        <div class="oj-flex-item oj-panel demo-mypanel">
          <div  data-bind="ojComponent: {component: 'ojCollapsible', expanded: true}">
           
          </div>
        </div>
      </div>
    </div>
  </div>