 <div >
    <div class="oj-flex demo-panelwrapper">

      <div class="oj-flex-item oj-flex oj-sm-flex-items-1 oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2">
        <div class="oj-flex-item oj-panel demo-mypanel">
         <div id="animatable" class="container">
      <div id="pieChart"
           data-bind="ojComponent: {component: 'ojChart', 
                                    type: 'pie', 
                                    series: dataSeries,
                                    styleDefaults: {threeDEffect: 'on'},
                                    hoverBehavior: 'dim'
                                   }"
           style="width:100%">
      </div>
   
</div>
        </div>
      </div>


      
      <div class="oj-flex-item oj-flex oj-sm-flex-items-1 oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2">
        <div class="oj-flex-item oj-panel demo-mypanel">
        <h3>America</h3>
        <ol>
          <li>cheddar</li>
          <li>colby</li>
        </ol>
       </div>
      </div>


      <div class="oj-flex-item oj-flex oj-sm-flex-items-1 oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2">
        <div class="oj-flex-item oj-panel demo-mypanel">
          <div  data-bind="ojComponent: {component: 'ojCollapsible', expanded: true}">
            <h3>France</h3>
            <div>
              <ol>
                <li>brie</li>
                <li>comte</li>
                <li>camembert</li>
                <li>emmental français (french emmental)</li>
              </ol>
            </div>
          </div>
        </div>
      </div>

      <div class="oj-flex-item oj-flex oj-sm-flex-items-1 oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2">
        <div class="oj-flex-item oj-panel demo-mypanel">
          <h3>Switzerland</h3>
          <ol>
            <li>appenzeller</li>
            <li>emmentaler</li>
            <li>gruyere</li>
            <li>raclette</li>
          </ol>
        </div>
      </div>


      <div class="oj-flex-item oj-flex oj-sm-flex-items-1 oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2">
        <div class="oj-flex-item oj-panel demo-mypanel">
          <h3>Greece</h3>
          <ol>
            <li>feta</li>
            <li>myzithra</li>
          </ol>
        </div>
      </div>


      <div class="oj-flex-item oj-flex oj-sm-flex-items-1 oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2">
        <div class="oj-flex-item oj-panel demo-mypanel">
          <h3>Germany</h3>
          <ol>
            <li>limburger</li>
            <li>tilsit</li>
          </ol>
        </div>
      </div>


      <div class="oj-flex-item oj-flex oj-sm-flex-items-1 oj-sm-12 oj-md-4 oj-lg-3 oj-xl-2">
        <div class="oj-flex-item oj-panel demo-mypanel">
          <div  data-bind="ojComponent: {component: 'ojCollapsible', expanded: true}">
            <h3>Italy</h3>
            <div>
              <ol>
                <li>burrata</li>
                <li>gorgonzola</li>
                <li>mascarpone</li>
                <li>parmigiano-Reggiano</li>
                <li>pecorino</li>
                <li>ricotta</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>