<div class="oj-flex">
    <div class="oj-flex-item oj-panel oj-margin">
        <!--table -->

        <table id="table"
               data-bind="ojComponent:{component:'ojTable',                           
                                           data: pagingDatasource,                           
                                           columns: 
                                               [{headerText: 'Department Id', field: 'DepartmentId', id: 'column1'},
                                               {headerText: 'Department Name', field: 'DepartmentName', id: 'column2'},
                                               {headerText: 'Location Id', field: 'LocationId', id: 'column3'},
                                               {headerText: 'Manager Id', field: 'ManagerId', id: 'column4'}],
                                           selectionMode: {row: 'single', column:'none'},
                                           rootAttributes: {'style':'width: 100%;'}}">
        </table>
        <div id="paging" data-bind="ojComponent: {component: 'ojPagingControl',  data: pagingDatasource, pageSize: 5}"></div>
        <!-- end of table -->


    </div>
    <div class="oj-flex-item oj-panel oj-margin">
        <!-- form -->
        <div id="addDept" class="oj-form-layout">
            <div id="quickUpdate" class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                <h3>New Department</h3><hr/>
                <div class="oj-flex">  
                    <div class="oj-flex-item">
                        <label for="newDepartId" class="oj-label">Department Id</label>
                    </div>
                    <div class="oj-flex-item">
                        <input id="deptId" value="555" class="oj-text-input" data-bind="value: deptId, ojComponent:{component:'ojInputNumber'}" />
                    </div>
                </div>
                <div class="oj-flex">  
                    <div class="oj-flex-item">
                        <label for="deptName" class="oj-label">Department Name</label>
                    </div>
                    <div class="oj-flex-item">
                        <input id="deptName" maxlength='30' placeholder="enter dept name" data-bind="value: deptName, ojComponent:{component:'ojInputText'}"/>

                    </div>
                    <div class="oj-flex-item">
                        <input id="locationId" maxlength='30' placeholder="enter location id" data-bind="value: locationId, ojComponent:{component:'ojInputText'}"/>

                    </div>
                    <div class="oj-flex-item">
                        <input id="managerId" maxlength='30' placeholder="enter manager id" data-bind="value: managerId, ojComponent:{component:'ojInputText'}"/>

                    </div>

                    <button  class="oj-button" data-bind="click: buttonClick, ojComponent:{component:'ojButton', label: 'Create'}"></button>
                    <button id= "Delete"
                            data-bind="click: Delete, 
                       ojComponent: { component: 'ojButton', label: 'Delete' }">
                    </button>
                    <button id= "Update"
                            data-bind="click: Update, 
                       ojComponent: { component: 'ojButton', label: 'Update' }">
                    </button>
                    <button id= "button"
                            data-bind="click: resetFields, 
                       ojComponent: { component: 'ojButton', label: 'Reset' }">
                    </button>
                </div>                                        
            </div>
        </div>  
        <!-- end of form -->


    </div> 
</div>       

