<div id="tabs-container">


    <div id="vtabs" class="oj-tabs-text-icon"
         data-bind="ojComponent:{component: 'ojTabs',edge:'start'}">
        <ul>
            <li>
                <div>
                    <span class="oj-start demo-home-icon-24 demo-icon-font"
                          title="Table Demo" role="img">
                    </span>
                    <span class="oj-sm-only-hide">Table</span>
                </div>
            </li>
            <li>
                <div>
                    <span class="oj-start demo-education-icon-24 demo-icon-font"
                          title="Getting Started" role="img">
                    </span>
                    <span class="oj-sm-only-hide"> Getting Started</span>
                </div>
            </li>
            <li>
                <div>
                    <span class="oj-start demo-library-icon-24 demo-icon-font"
                          title="Cookbook" role="img">
                    </span>
                    <span class="oj-sm-only-hide"> Cookbook</span>
                </div>
            </li>
        </ul>

        <div id="tabs-1">
           <div class="oj-flex">
    <div class="oj-flex-item oj-panel oj-margin">
        <!--table -->

        <table id="table"
               data-bind="ojComponent:{component:'ojTable',                           
                                           data: pagingDatasource,                           
                                           columns: 
                                               [{headerText: 'Id', field: 'Id', id: 'column1'},
                                               {headerText: 'First Name', field: 'FirstName', id: 'column2'},
                                               {headerText: 'Last Name', field: 'LastName', id: 'column3'}],
                                           selectionMode: {row: 'single', column:'none'},
                                           rootAttributes: {'style':'width: 100%;'}}">
        </table>
        <div id="paging" data-bind="ojComponent: {component: 'ojPagingControl',  data: pagingDatasource, pageSize: 5}"></div>
        <!-- end of table -->


    </div>
    <div class="oj-flex-item oj-panel oj-margin">
        <!-- form -->
        <div id="addDept" class="oj-form-layout">
            <div id="quickUpdate" class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
                <h3>New Department</h3><hr/>
                <div class="oj-flex">  
                    <div class="oj-flex-item">
                        <label for="newDepartId" class="oj-label">Id</label>
                    </div>
                    <div class="oj-flex-item">
                        <input id="Id" value="555" class="oj-text-input" data-bind="value: Id, ojComponent:{component:'ojInputNumber'}" />
                    </div>
                </div>
                <div class="oj-flex">  
                    <div class="oj-flex-item">
                        <label for="FirstName" class="oj-label">First Name</label>
                    </div>
                    <div class="oj-flex-item">
                        <input id="FirstName" maxlength='30' placeholder="enter first name" data-bind="value: FirstName, ojComponent:{component:'ojInputText'}"/>

                    </div>
                    <div class="oj-flex-item">
                        <input id="LastName" maxlength='30' placeholder="enter last name" data-bind="value: LastName, ojComponent:{component:'ojInputText'}"/>

                    </div>
                   

                    <button  class="oj-button" data-bind="click: Create, ojComponent:{component:'ojButton', label: 'Create'}"></button>
                    <button id= "Delete"
                            data-bind="click: Delete, 
                       ojComponent: { component: 'ojButton', label: 'Delete' }">
                    </button>
                    <button id= "Update"
                            data-bind="click: Update, 
                       ojComponent: { component: 'ojButton', label: 'Update' }">
                    </button>
                    <button id= "button"
                            data-bind="click: resetFields, 
                       ojComponent: { component: 'ojButton', label: 'Reset' }">
                    </button>
                    
                     <button id= "downloadButton"
                            data-bind="click: downloadTable, 
                       ojComponent: { component: 'ojButton', label: 'Download' }">
                    </button>
                </div>                                        
            </div>
        </div>  
        <!-- end of form -->


    </div> 
</div>       

        </div>
        <div id="tabs-2">
            <ul>
                <li>
                    <input id="opt1" type="radio" name="options" value="option1"/>
                    <label for="opt1">Option 1</label>
                </li>
                <li>
                    <input id="opt2" type="radio" name="options" value="option2" checked="checked"/>
                    <label for="opt2">Option 2</label>
                </li>
                <li>
                    <input id="opt3" type="radio" name="options" value="option3"/>
                    <label for="opt3">Option 3</label>
                </li>
            </ul>
        </div>
        <div id="tabs-3">
            <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>

        </div>
    </div>
</div>